EfreiZ is a simple Python game.

**What's Going on in an EfreiZ's game?**

The game will take place in a 20*20 grid. Zombies will randomly spawn at the corners of it. 
They will chase you (random move for now) and your goal is to survive the longest time possible.
The longer you live, the bigger your score will be.

To play, you have to code an algorithm that reacts well (you will try at least). Of course you can't teleportate from one point to the other.
The moves must be legit, which means : up, down, left and right. Once your code is ready, implement it in PlayPos.py
Be careful not touching the class parameters, you could mess up all the code !

**Be careful**

The main code analysis every single return you do, so don't cheat ;)
